<app-navbar></app-navbar>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="about-us text-center p-4 bg-white rounded shadow">
          <h1 class="display-4">About Us</h1>
          <h2 class="my-4">
            Our mission is to be the smartest and most helpful food platform in
            existence
          </h2>
          <p class="lead">
            Welcome to our what's cooking! We are passionate food lovers
            dedicated to sharing the joy of cooking with everyone. Our mission
            is to inspire home cooks of all skill levels by providing a diverse
            collection of delicious recipes, cooking tips, and culinary
            techniques.
          </p>
          <p class="lead">
            Whether you are looking to try a new dish, explore different
            cuisines, or refine your cooking skills, our app is here to guide
            you on your culinary journey. We believe that cooking should be fun,
            accessible, and a way to bring people together.
          </p>
          <p class="lead">
            Join our community of food enthusiasts and start creating memorable
            meals today!
          </p>

          <h2 class="my-4">Our Values</h2>
          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">Passion for Food</li>
            <li class="list-group-item">Community Engagement</li>
            <li class="list-group-item">Sustainability</li>
            <li class="list-group-item">Inclusivity in Cooking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
