<app-navbar></app-navbar>
<app-navs></app-navs>
<app-search></app-search>

<div
  class="recipe-container"
  style="
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
  "
>
  <div
    class="recipe-card"
    *ngFor="let recipe of paginatedRecipes[currentPage]"
    style="
      flex: 1 1 calc(20% - 10px);
      margin: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.2s;
      display: flex;
      justify-content: center;
    "
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  >
    <app-recipe [recipe]="recipe"></app-recipe>
  </div>
</div>

<div style="text-align: center; margin-top: 20px">
  <button
    (click)="prevPage()"
    [disabled]="!hasPrevPage"
    style="
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    "
  >
    Previous
  </button>
  <button
    (click)="nextPage()"
    [disabled]="!hasNextPage"
    style="
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    "
  >
    Next
  </button>
</div>
<app-footer></app-footer>
