<app-navbar></app-navbar>
<body style="min-height: 100vh">
  <app-navs></app-navs>
  <!-- Search Componevnt -->
  <app-search (search)="onSearch($event)"></app-search>

  <!-- Recipe Cards and Pagination -->
  <div
    class="recipe-container"
    style="
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
    "
  >
    <!-- Recipe Card Grid -->
    <div
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 20px auto;
      "
    >
      <button
        (click)="prevPage()"
        [disabled]="!hasPrevPage"
        style="
          padding: 10px 15px;
          margin: 0 20px;
          border: none;
          background-color: transparent;
          color: #808080;
          border-radius: 50%;
          cursor: pointer;
          font-size: 50px;
          font-weight: bold;
          transition: background-color 0.3s;
        "
      >
        &lt;
      </button>
      <div
        class="recipe-card"
        *ngFor="
          let recipe of paginatedRecipes[currentPage] | search : searchText
        "
        style="
          flex: 1 1 calc(25% - 20px);
          margin: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
          transition: transform 0.2s;
          display: flex;
          justify-content: center;
        "
        (mouseover)="onMouseOver($event)"
        (mouseout)="onMouseOut($event)"
      >
        <app-recipe (click)="viewRecipe(recipe)" [recipe]="recipe"></app-recipe>
      </div>
      <button
        (click)="nextPage()"
        [disabled]="!hasNextPage"
        style="
          padding: 10px 15px;
          margin: 0 20px;
          border: none;
          background-color: transparent;
          color: #808080;
          border-radius: 50%;
          cursor: pointer;
          font-size: 50px;
          font-weight: bold;
          transition: background-color 0.3s;
        "
      >
        &gt;
      </button>
    </div>
  </div>

  <!-- Footer should be aligned at the bottom -->
</body>
<app-footer style="margin-top: 0"></app-footer>
