<section
  style="
    height: 40vh;
    background: url(https://images.unsplash.com/photo-1601315379734-425a469078de?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJlY2lwZXxlbnwwfHwwfHx8MA%3D%3D)
      center/cover no-repeat;
  "
>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <input
      type="text"
      placeholder="Search..."
      style="padding: 10px; font-size: 16px"
    />
  </div>
</section>
