<div class="wrap">
  <div class="note">
    <h2><b>Find Your Favorite Recipes!</b></h2>
    <p>
      Search through our extensive collection of delicious dishes and discover
      new culinary delights.
    </p>
  </div>
  <div class="search">
    <input
      type="text"
      class="searchTerm"
      placeholder="What are you looking for?"
      [(ngModel)]="searchText"
    />
    <button type="submit" class="searchButton" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
