body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(153, 226, 159);
  border-right: none;
  padding: 20px;
  height: 20px;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  color: black;
  margin-bottom: 20vh;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 50px;
  height: 45px;
  border: 1px solid rgb(153, 226, 159);
  background: lightgreen;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 35px;
}

.wrap {
  width: fit-content;
  margin-top: 30vh;
  height: 30vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.note {
  font-family: "Sofia", sans-serif;
  color: rebeccapurple;
  backdrop-filter: blur(20px);
  margin-bottom: 5vh;
}
