.footer-basic {
  background-color: rgb(221, 247, 221);
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  display: flex;
  justify-content: center; /* Center aligns the icons */
  align-items: center; /* Vertically aligns the icons */
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic img {
  max-width: 120%; /* Prevents overflow */
  height: auto;
  background-size: 10vh;
}
.copyright {
  color: #4b4c4d;
  text-align: center; /* Centers the text */
  margin-top: 15px; /* Add space above */
  margin-bottom: 20px; /* Add space below */
  font-size: 13px; /* Adjust font size if needed */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
