<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link"
      id="meal-type-tab"
      data-bs-toggle="dropdown"
      role="tab"
      aria-controls="meal-type"
      aria-expanded="false"
      aria-selected="false"
    >
      Meal Type
    </a>
    <ul class="dropdown-menu" aria-labelledby="meal-type-tab">
      <li
        class="list-group-item"
        *ngFor="let item of mealTypeValues"
        (click)="selectMealType(item)"
        style="cursor: pointer"
      >
        {{ item }}
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link"
      id="seasonal-tab"
      data-bs-toggle="dropdown"
      role="tab"
      aria-controls="seasonal"
      aria-expanded="false"
      aria-selected="false"
    >
      Seasonal
    </a>
    <ul class="dropdown-menu" aria-labelledby="seasonal-tab">
      <li
        class="list-group-item"
        *ngFor="let item of seasonalValues"
        (click)="selectSeasonal(item)"
        style="cursor: pointer"
      >
        {{ item }}
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link"
      id="cuisine-tab"
      data-bs-toggle="dropdown"
      role="tab"
      aria-controls="cuisine"
      aria-expanded="false"
      aria-selected="false"
    >
      Cuisine
    </a>
    <ul class="dropdown-menu" aria-labelledby="cuisine-tab">
      <li
        class="list-group-item"
        *ngFor="let item of cuisineValues"
        (click)="selectCuisine(item)"
        style="cursor: pointer"
      >
        {{ item }}
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link"
      id="meal-timing-tab"
      data-bs-toggle="dropdown"
      role="tab"
      aria-controls="meal-timing"
      aria-expanded="false"
      aria-selected="false"
    >
      Meal Timing
    </a>
    <ul class="dropdown-menu" aria-labelledby="meal-timing-tab">
      <li
        class="list-group-item"
        *ngFor="let item of mealTimingValues"
        (click)="selectMealTiming(item)"
        style="cursor: pointer"
      >
        {{ item }}
      </li>
    </ul>
  </li>
</ul>
<!-- 
<p>
  Selected Meal Type: {{ selectedMealType }} <br />
  Selected Seasonal: {{ selectedSeasonal }} <br />
  Selected Cuisine: {{ selectedCuisine }} <br />
  Selected Meal Timing: {{ selectedMealTiming }}
</p> -->


