<app-navbar></app-navbar>

<body>
  <h1 style="text-align: center">{{ recipe.recipe_name }}</h1>
  <div class="container mt-4" class="div-main">
    <div class="row rounded p-3">
      <div class="col-lg-8">
        <table class="table table-borderd" class="styled-table">
          <tbody>
            <tr>
              <th>Ingredients</th>
              <td>
                <div style="display: flex; flex-direction: column">
                  <div *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td>
                <div style="white-space: pre-wrap">
                  {{ recipe.recipe_steps }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4" style="background: transparent">
        <div class="comments-section">
          <div class="image-container" (click)="toggleLike()">
            <img
              [src]="'assets/vegetable.jpeg'"
              alt="Recipe Description"
              class="image"
            />
            <span
              class="heart-symbol"
              [ngClass]="{ filled: isLiked }"
              [innerHTML]="isLiked ? '♥' : '&#9825;'"
            ></span>
            <!-- Conditional heart -->
            <div class="text-overlay"></div>
          </div>
          <div id="message">{{ message }}</div>
          <div id="p2">
            <!-- <h3>Comments</h3> -->
            <div class="comments">
              <div
                *ngFor="let comment of displayedComments"
                class="comment mb-2 border p-2 rounded"
              >
                <div class="author font-weight-bold">{{ comment.author }}</div>
                <div class="text">{{ comment.text }}</div>
              </div>
            </div>
            <button
              *ngIf="hasMoreComments()"
              id="view-more"
              class="btn btn-warning mt-2"
              (click)="toggleShowMore()"
            >
              {{ showMore ? "Show Less" : "Comments" }}
            </button>
          </div>
          <div class="rating-section mt-4">
            <h4>Rate this Recipe:</h4>
            <div class="stars">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                (click)="rateRecipe(star)"
                [ngClass]="{ filled: star <= rating }"
              >
                ★
              </span>
            </div>
            <div>Your Rating: {{ rating }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
