<nav
  *ngIf="role !== undefined"
  class="navbar navbar-expand-lg navbar-light shadow-sm glass-effect"
  style="background-color: rgba(253, 215, 0)"
>
  <div class="container-fluid">
    <!-- Left Aligned Brand -->
    <a
      class="navbar-brand fw-bold"
      [routerLink]="role ? '/welcome' : null"
      [class.disabled]="!role"
      (click)="role === null ? $event.preventDefault() : null"
    >
      <img src="/assets/Images/logo.jfif" alt="" class="logo" />
      What's Cooking
    </a>

    <!-- Toggler for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right Aligned Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" [ngSwitch]="role">
        <!-- Admin Navbar -->
        <ng-container *ngSwitchCase="'Admin'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-recipe">Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-all-recipe"
              >View All Recipe</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout">Log Out</a>
          </li>
        </ng-container>

        <!-- User Navbar -->
        <ng-container *ngSwitchCase="'Customer'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-all-recipe"
              >View All Recipe</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="endorsedRecipe()">Endorsed recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout">Logout</a>
          </li>
        </ng-container>

        <!-- Nutritionist Navbar -->
        <ng-container *ngSwitchCase="'Nutritionist'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-recipe">Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-all-recipe"
              >View All Recipe</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" (click)="endorsedByMe()"
              >Endorsed By Me</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout">Logout</a>
          </li>
        </ng-container>

        <!-- Default Navbar (Not Logged In) -->
        <ng-container *ngSwitchDefault>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
