<div class="card recipe-card shadow-lg border-0 rounded-3">
  <div
    class="card-header text-white d-flex align-items-center justify-content-between"
  >
    <!-- Display endorsement status -->
    <h6 *ngIf="recipe?.endorsed" style="color:black">
      Endorsed by {{ recipe?.nutrition?.user?.firstName }}
    </h6>
  </div>

  <!-- Wrap the image and heart symbol in image-container for like functionality -->
  <div class="image-container">
    <img
      [src]="'/assets/Recipe_Images/' + recipeName + '.jpg'"
      class="card-img-top recipe-image"
      alt="Recipe Image"
      style="width: 50%; height: auto"
    />
  </div>

  <div class="card-body p-2">
    <!-- Display the recipe name -->
    <h6 class="card-title text-dark fw-semibold">{{ recipe?.recipe_name }}</h6>

    <!-- Display the recipe rating -->
    <div
      class="rating-section mt-2"
      style="display: flex; flex-direction: column"
    >
      <h6>Popularity:</h6>

      <div class="stars">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]"
          [ngClass]="{ filled: star <= rating }"
        >
          ★
        </span>
      </div>
    </div>
  </div>
</div>
