<app-navbar></app-navbar>
<body>
  <div class="top-left">
    <h1>
      <b>Hii {{ name }}! Welcome to What's Cooking!</b>
    </h1>
    <h3>It is even better than an expensive cookery book..</h3>
    <pre>
    <h6 id="p1"><b>Discover the joy of cooking with our curated collection of delicious recipes.
      From quick weeknight meals to gourmet dishes, we have something for every culinary enthusiast.
       Join us as we explore flavors, share tips, and inspire creativity in the kitchen.
        Happy cooking! </b></h6>
  </pre>
  </div>
</body>
<app-footer></app-footer>
