<app-navbar></app-navbar>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          [src]="
            '/assets/Recipe_Images/' +
            (recipe.recipe_name?.split(' ')?.join('') || 'default') +
            '.jpg'
          "
          alt="Recipe Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-8">
        <form>
          <div class="form-group d-flex align-items-center">
            <label for="recipeName" class="mr-2">Name of Recipe</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="recipe.recipe_name"
              name="recipeName"
              [readonly]="!editName"
            />
            <i
              class="fas fa-pencil-alt ml-2"
              (click)="editName = !editName"
            ></i>
          </div>
          <div class="form-group d-flex align-items-center">
            <label for="ingredients" class="mr-2">Ingredients</label>
            <div id="ingredients" class="flex-grow-1">
              <div
                class="input-group mb-2"
                *ngFor="let ingredient of recipe.ingredients; let i = index"
              >
                <input
                  type="text"
                  class="form-control"
                  [value]="ingredient.name"
                  [readonly]="!editIngredients[i]"
                />
                <i
                  class="fas fa-pencil-alt ml-2"
                  (click)="editIngredients[i] = !editIngredients[i]"
                ></i>
              </div>
            </div>
          </div>
          <div class="form-group d-flex align-items-center">
            <label for="recipeSteps" class="mr-2">Recipe Steps</label>
            <textarea
              class="form-control flex-grow-1"
              [(ngModel)]="recipe.recipe_steps"
              name="recipeSteps"
              [readonly]="!editSteps"
            ></textarea>
            <i
              class="fas fa-pencil-alt ml-2"
              (click)="editSteps = !editSteps"
            ></i>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="updateRecipe()"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
